
@{
    ViewBag.Title = "RethinkList";
    Layout = "~/Areas/Account/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN PAGE CONTENT INNER -->
<div class="page-content-inner">
    <!-- BEGIN : LISTS -->
    <div class="row">
        <div class="col-lg-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-todo red">
                            <div class="list-head-title-container">
                                <h3 class="list-title">2017年6月30日——日三省</h3>
                                <div class="list-head-count">
                                    <div class="list-head-count-item">
                                        <i class="fa fa-check"></i> 15
                                    </div>
                                    <div class="list-head-count-item">
                                        <i class="fa fa-cog"></i> 34
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <div class="list-count pull-right red-mint">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                        </div>
                        <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="list-todo-line "></div>
                            <ul>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="list-todo-item blue-steel">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" href="#task-1" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">收获</div>
                                                <div class="badge badge-default pull-right bold">2</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-1">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-database"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">看了半个小时书</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-table"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">运动30分钟</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-paint-brush"></i>
                                    </div>
                                    <div class="list-todo-item green-meadow">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" href="#task-2" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">改进</div>
                                                <div class="badge badge-default pull-right bold">3</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-2">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-image-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">可以11点之前睡觉</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-star-half-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">用心只做一件事情</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-todo red">
                            <div class="list-head-title-container">
                                <h3 class="list-title">2017年6月30日——日三省</h3>
                                <div class="list-head-count">
                                    <div class="list-head-count-item">
                                        <i class="fa fa-check"></i> 15
                                    </div>
                                    <div class="list-head-count-item">
                                        <i class="fa fa-cog"></i> 34
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <div class="list-count pull-right red-mint">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                        </div>
                        <div class="mt-list-container list-todo" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="list-todo-line "></div>
                            <ul>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="list-todo-item blue-steel">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion2" href="#task-1-1" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">收获</div>
                                                <div class="badge badge-default pull-right bold">2</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-1-1">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-database"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">看了半个小时书</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-table"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">运动30分钟</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-paint-brush"></i>
                                    </div>
                                    <div class="list-todo-item green-meadow">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" href="#task-1-2" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">改进</div>
                                                <div class="badge badge-default pull-right bold">3</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-1-2">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-image-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">可以11点之前睡觉</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-star-half-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">用心只做一件事情</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="portlet light portlet-fit ">
                <div class="portlet-body">
                    <div class="mt-element-list">
                        <div class="mt-list-head list-todo red">
                            <div class="list-head-title-container">
                                <h3 class="list-title">2017年6月30日——日三省</h3>
                                <div class="list-head-count">
                                    <div class="list-head-count-item">
                                        <i class="fa fa-check"></i> 15
                                    </div>
                                    <div class="list-head-count-item">
                                        <i class="fa fa-cog"></i> 34
                                    </div>
                                </div>
                            </div>
                            <a href="javascript:;">
                                <div class="list-count pull-right red-mint">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </a>
                        </div>
                        <div class="mt-list-container list-todo" id="accordion1" role="tablist" aria-multiselectable="true">
                            <div class="list-todo-line "></div>
                            <ul>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-database"></i>
                                    </div>
                                    <div class="list-todo-item blue-steel">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" href="#task-1" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">收获</div>
                                                <div class="badge badge-default pull-right bold">2</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-1">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-database"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">看了半个小时书</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-table"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">运动30分钟</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="mt-list-item">
                                    <div class="list-todo-icon bg-white">
                                        <i class="fa fa-paint-brush"></i>
                                    </div>
                                    <div class="list-todo-item green-meadow">
                                        <a class="list-toggle-container" data-toggle="collapse" data-parent="#accordion1" href="#task-2" aria-expanded="false">
                                            <div class="list-toggle done uppercase">
                                                <div class="list-toggle-title bold">改进</div>
                                                <div class="badge badge-default pull-right bold">3</div>
                                            </div>
                                        </a>
                                        <div class="task-list panel-collapse collapse" id="task-2">
                                            <ul>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-file-image-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">可以11点之前睡觉</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                                <li class="task-list-item done">
                                                    <div class="task-icon">
                                                        <a href="javascript:;">
                                                            <i class="fa fa-star-half-o"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-status">
                                                        <a class="done" href="javascript:;">
                                                            <i class="fa fa-check"></i>
                                                        </a>
                                                        <a class="pending" href="javascript:;">
                                                            <i class="fa fa-close"></i>
                                                        </a>
                                                    </div>
                                                    <div class="task-content">
                                                        <h4 class="uppercase bold">
                                                            <a href="javascript:;">用心只做一件事情</a>
                                                        </h4>
                                                    </div>
                                                </li>
                                            </ul>
                                            <div class="task-footer bg-grey">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <a class="task-trash" href="javascript:;">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <a class="task-add" href="javascript:;">
                                                            <i class="fa fa-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END : LISTS -->
</div>
<!-- END PAGE CONTENT INNER -->

